body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 940px;
    margin-inline: auto;
}
.header{
    color:#3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

.subheader{
    border-bottom-style: solid;
}

figure{
    background-color: whitesmoke;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

#figure-matriz{
    width: 550px;
    margin-inline: auto;
}

#figure-familia-tupfeln{
    width: 275px;
    float: right;
}
figure > img{
    width: 100%;
}
img{
    margin-bottom: 10px;
}

figure > caption{
    color: lightgrey;
    display: block;
}