h1{
    color:#3D3D3D;
    background-color: #E1EDF2;
}

h2, h3, h4, h5, h6{
    border-bottom-style: solid;
}

figure{
    background-color: whitesmoke;
    text-align: center;
    margin-inline: auto;
    width: 90%;
}
figure > img{
    margin-inline: auto;
    display: block;
}

figure > caption{
    color: lightgrey;
    display: block;
}