body{
    font-family: "Montserrat", serif;
    width: 940px;
    margin-inline: auto;
}
.header{
    color:#3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}
header{
    background-color: #2D5377;
    color: #FFF;
}
.subheader{
    border-bottom-style: solid;
}

figure{
    background-color: whitesmoke;
    text-align: center;
    padding: 15px;
    margin: 30px;
    border: 1px solid lightgray;
}

#figure-matriz{
    width: 550px;
    margin-inline: auto;
}

#figure-familia-tupfeln{
    width: 275px;
    float: right;
}
figure > img{
    width: 100%;
}
img{
    margin-bottom: 10px;
}

figure > figcaption{
    color: black;
    display: block;
}

div h3{
    display: inline;
    margin-bottom: 8px;
}

div span{
    margin-left: 50px;
}
#correspondencia{
    float: left;
    width: 50%;
    height: 175px;
}
#telefones{
    float: right;
    width: 50%;
    height: 175px;
}
#correspondencia > span{
    font-style: italic;
}

/* ----Contato--- */
input{
    margin-bottom: 10px;
    width: 500px;
    height: 30px;
}

#obs{
    height: 300px;
}

button{
    background-color: #FFF;
    font-weight: bold;
    width: 100px;
    height: 50px;
}

#obs::placeholder{
    text-align: start;
}